.profile{
    flex: 0.2;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.profile-image{
    display: flex;
    justify-content: center;
}
.profile-search-bar{
    display: flex;
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: 30px;


}
.profile-search-input{
    width: 230px;
    height: 29px;
    border: none;
    border-radius: 15px;
    font-size: x-small;
    padding-left: 30px;
    text-align:left;

}
.profile-detail{
    padding-top: 20px;
}
.profile-connect-options{
    display: flex;
    justify-content: center;
}
.profile-connect-sub1{
    padding: 15px;
    padding-top: 20px;
    margin: 10px;
    margin-left: 30px;
    width: 40px;
    height: 35px;
    background-color: #eeeeff;
    border-radius: 50%;
    cursor: pointer;

}
.profile-connect-sub2{
    padding: 15px;
    margin: 10px;
    margin-left: 40px;
    width: 40px;
    height: 35px;
    background-color: #eeeeff;
    border-radius: 50%;
    cursor: pointer;

}
.profile-divider{
    padding-right: 35px;
}
.profile-name{
    color:#007FFF ;
}
.profile-social{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
}