.search-bar {
  display: flex;
}
.search-input {
  width: 300px;
  height: 29px;
  border: none;
  border-radius: 8px;
  font-size: small;
  padding-left: 30px;
  text-align: left;
}
.search-icon {
  position: absolute;
  padding-top: 6px;
  padding-left: 5px;
  min-width: 20px;
  font-size: 3px;
}
